<div class="list-group">
  {% for product in products %}
    <a
       role="option"
       href="{{ path('app_product', { id: product.id}) }}"
       class="list-group-item list-group-item-action"
    >
      {{ product.name }}
    </a>
  {%  else %}
    <div class="list-group-item" role="option" aria-disabled="true">
      No results found!
    </div>
  {% endfor %}

</div>
